
body {
  
}
#root{
  
  font-family: 'Architects Daughter', cursive;
}
header{
  font-size: 18px;
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
div.price{
  color: red;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex:1;
  flex-wrap: wrap;
}
.col-2 {
  flex: 2 ;
}
.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 12rem;
}
button.btn {
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #afaca5;
  width: 100%;
  cursor: pointer;
}
button.btn:hover{
  background-color: #333331;
}
button.btnModal{
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.7rem 0,2rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #dcdad6;
  width: 15%;
  cursor: pointer;
  color: white;
}
button.btnModal:hover{
  background-color: #333331;
}

button.add {
  background-color: #40c0f0;
  width: 50%;
  font-size: 1rem;
  padding: 0,2rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  cursor: pointer;
}
button.remove {
  background-color: #f04040;
  width: 50%;
  font-size: 1rem;
  padding: 0,4rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  cursor: pointer;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}

/* WHATSAPP */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#bfc2c0;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}